{% extends 'base.html.twig' %}

{% block title %}My order - Basel Kaffoura{% endblock %}

{% block body %}
    <h2>Canceling your order</h2>
    <p>
        Hello {{order.user.firstname}} {{order.user.lastname}}, <br>
        Your payment for order no. <b>{{order.reference}}</b> did not work out.<br>
    </p>
    <hr>
    <a class="btn btn-outline-success" href="{{ path('order') }}">Try again</a>
{% endblock %}