{% extends 'base.html.twig' %}

{% block title %}My addresses - Basel Kaffoura{% endblock %}
{% block body %}
    <h2>Change password</h2>
    {{form(form)}}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <a title="Return to your members area"href="{{ path('account') }}">Return to my account</a>
{% endblock %}
