<ul class="">
    <li class=""><small>&copy; 2020 Basel Kaffoura</small></li>                
    <li class=""><small><a href="">Terms</a></small></li>                
    {# <li class="list-group-item"><a href="#">Return to top</a></li>                 #}
</ul>
