{% extends 'base.html.twig' %}

{% block body %}
    <h1>404 Page not found</h1>

    <p>
        The desired page can not be found :( <br>
        <a href="{{ path('home') }}">Back to Home</a>.
    </p>
{% endblock %}
